form.gsc-search-box{
    width: 90% !important;
}

.gsc-control-cse table {
  margin:0;
  border:none;
}

.gsc-control-cse table th, .gsc-control-cse table td {
  margin:0;
  padding:0;
  border:none;
}
.gsc-control-cse table>tbody>tr {
  &:nth-of-type(odd) { background: none; }
  &:hover {background: none; }
}

.gsc-input-box {
  height: 26px !important;
}
.gsc-input {
  width: 90% !important;
  padding-left: 5px !important;
  margin: 0px 5px !important;
}
.gsst_a {
  padding: 0 4px !important;
  border:none;
}
.gsst_b {
  font-size: inherit;
  position: relative !important;
  right: 30px;
  height: 24px;
}

.gsc-table-result{
  margin: 0 8px !important;
}
.gsc-result .gs-title {
    height: 1.4em !important;
}

.gsc-search-button.gsc-search-button-v2{
  margin-top: 5px !important;
}

.gcsc-branding-clickable{
  line-height: 20px;
  border:none;
}
