<% if (page.total > 1) { %>
<nav itemscope itemtype="https://schema.org/SiteNavigationElement" id="page-nav">
    <% if (page.prev != 0) { %>
    <a itemprop="url" class="prev" rel="prev" href="<%= url_for(page.prev_link) %>">
        <span class="fa fa-chevron-left"></span>
        <span class="text">Previous</span>
    </a>
    <% } %>
    <% if (page.next != 0) { %>
    <a itemprop="url" class="next" rel="next" href="<%= url_for(page.next_link) %>">
        <span class="text">Next</span>
        <span class="fa fa-chevron-right"></span>
    </a>
    <% } %>
</nav>
<% } %>