
<div class="post white-box archive-page">
    <section class="meta">
        <h2 class="title">
            <span class="fa fa-search"></span>
            <%= page.title %>
        </h2>
    </section>
    <section class="archive notranslate">
        <%- post.content %>
    </section>
</div>