<div class="social-media-buttons">
    <!-- 
        https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
        https://simplesharebuttons.com/html-share-buttons/ 
    -->

    <!-- Facebook -->
    <!-- <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a> -->
    <a href="#" class="fa fa-facebook"></a>

    <!-- Google+ -->
    <!-- <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a> -->
    <a href="#" class="fa fa-google"></a>

    <!-- LinkedIn -->
    <!-- <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a> -->
    <a href="#" class="fa fa-linkedin"></a>

    <!-- Twitter -->
    <!-- <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a> -->
    <a href="#" class="fa fa-twitter"></a>
    
    <!-- Email -->
    <!-- <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a> -->
    <a href="#" class="fa fa-envelope-o"></a>

    <!-- Print -->
    <!-- <a href="javascript:;" onclick="window.print()">
            <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a> -->    
</div>