<%
    let leftPosts = [];
    let rightPosts = [];
    let count = 0;

    page.posts.each(function(post) {
        if(count%2==0){
            leftPosts.push(post);
            post.side = "left";
        }else{
            rightPosts.push(post);
            post.side = "right";
        }
        count++;
    });

    let posts = leftPosts.concat(rightPosts);
%><section class="post-list">
<% posts.forEach(function(post) { %>
    <div class="post-wrapper <%= post.side %>-side">
    <%- partial("_partial/post", { post: post }) %>
    </div>
<% }) %>
</section>
<%- partial("_partial/pagination") %>