<section class="m_widget awards-certs">
    <div class="header fa fa-line-chart">Awards & Certs</div>
    <div class="content">
        <a class="alexa" target="_blank" href="//www.alexa.com/siteinfo/blog.johnwu.cc">
            <img src="//traffic.alexa.com/graph?u=blog.johnwu.cc" alt="Alexa Traffic for blog.johnwu.cc">
        </a>
    </div>
</section>