<section class="m_widget awards-certs">
    <div class="header fa fa-certificate">Awards & Certs</div>
    <div class="content">
        <ul>
            <li>
                <label>Microsoft MVP 2018-2019</label>
                <a target="_blank" href="https://mvp.microsoft.com/en-us/PublicProfile/5002961">
                    <img src="/images/logo-mvp.png" alt="Microsoft MVP 2018-2019" width="181" height="74" />
                </a>
            </li>
        </ul>
    </div>
</section>