<% 
    if(theme.facebook_sdk.enable) { 
%>
<section class="m_widget">
    <div class="fb-page" data-href="https://www.facebook.com/SoftwareENG.NET/" data-width="250">
        <blockquote cite="https://www.facebook.com/SoftwareENG.NET/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/SoftwareENG.NET/">大內攻城 - Software Engineering in .NET</a>
        </blockquote>
    </div>
</section>
<% } %>