<% 
    if(theme.facebook_sdk.enable) { 
%>
<section class="m_widget">
    <div class="fb-page" 
        data-href="https://www.facebook.com/SoftwareENG.NET"   
        data-show-posts="true"></div>
</section>
<% } %>