<section class="m_widget links">
<div class="header fa fa-link">Links</div>
<div class="content">
    <ul class="entry">
    <% (theme.links||[]).forEach(function(link){ %>
        <li><a class="flat-box" target="_blank" href="<%= url_for(link.url) %>">
            <div class="name"><%= link.name %></div>
        </a></li>
    <% }); %>
    </ul>
</div>
</section>