<section class="m_widget statistics">
    <div class="header fa fa-line-chart">Alexa Traffic</div>
    <div class="content">
        <a class="alexa" target="_blank" href="//www.alexa.com/siteinfo/<%= config.domain %>">
            <img src="//traffic.alexa.com/graph?u=<%= config.domain %>" alt="Alexa Traffic for <%= config.domain %>">
        </a>
    </div>
</section>