<section class="m_widget statistics">
<div class="header fa fa-link">Statistics</div>
<div class="content">
    <a href="https://www.alexa.com/siteinfo/blog.johnwu.cc" target="_blank" class="AlexaSiteStatsWidget">
    <img src="http://xsltcache.alexa.com/site_stats/gif/s/a/YmxvZy5qb2hud3UuY2M=/s.gif" 
        border="0" 
        alt="Alexa Certified Traffic Ranking for blog.johnwu.cc">
    </a>
</div>
</section>