<IfModule mod_rewrite.c>
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
RewriteCond %{HTTP_HOST} !^blog.johnwu.cc$ [NC]
RewriteRule .* ? [F,L]
RewriteRule (.*) https://blog.johnwu.cc/$1 [R=301,L]
</IfModule>
<IfModule mod_headers.c>
Header set X-XSS-Protection "1; mode=block"
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
</IfModule>